* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-size: 1rem;
  text-align: justify;
  overflow-x: hidden;
}
  
.header {
  background: linear-gradient(90deg, rgba(242,195,53,1) 14%, rgba(242,158,56,1) 35%, rgba(242,113,39,1) 62%, rgba(242,69,53,1) 93%);
  padding: 8px;
  text-align: center;
  position: relative;
}
    

.topnav {
    overflow: hidden;
    background-color: #0d0d0d;
    z-index: 1;
 }
      
.topnav a {
    font-family: "Zilla Slab", serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
      
 .topnav a:hover {
    background-color: #ddd;
    color: black;
 }

#leftTn {
  float: right;
}

.Main_body {
  padding-left: 50px;
  padding-right: 50px;
  overflow-x: hidden;
}

footer {
  background-color: #0d0d0d;
  text-align: center;
  color: white;
  bottom: 100%;
}

.ft1{
  width: 8%;
  height: 70px;
  background-color: #0d0d0d;
  float: left;
  padding: 10px;
}

.ft2 {
  width: 92%;
  height: 70px;
  background-color: #0d0d0d;
  padding: 8px;
  left: 42%;
}

.ft2-a {
  color: #ddd;
}

.ft2-a:visited {
  color: rgb(228, 228, 228);
}

.ft2-a:hover {
  color: rgb(167, 167, 167);
}

.ft2-a:active {
  color: blue;
}


h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-family: "Zilla Slab", serif;
  font-size: 30px;
}  

p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

p2 {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}

#h1tx {
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
  color: #0d0d0d;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FlanNewsLogo {
  size: 10px;
}

.Small_text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.Intro {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

.direct_access_links_bar{
  width: 100%;
  height: 30px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding-top: 25px;
  padding-bottom: 25px;
}

.direct_access_links_bar a{
  padding-left: 30px;
 }

 .direct_access_links_bar a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.direct_access_links_bar a:visited {
  color:red;
  background-color: transparent;
  text-decoration:rgb(0, 0, 0);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  height: 46.875rem;
}

.item-1 {
  border-style: solid;
  border-width: 0.2px;
  width: 700px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.item-2 {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 0.2px;
  width: 400px;
  height: 500px;
  display: flex;
  padding: 15px;
  padding-top: 0%;
}

.item-3 {
  border-style: solid;
  border-width: 0.2px;
  width: 330px;
  height: 500px;
}

.item-4 {
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0.2px;
  width: 700px;
  height: 200px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.item-5 {
  border-bottom-style: solid;
  border-width: 0.2px;
  width: 400px;
  height: 200px;
}

.item-6 {
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0.2px;
  width: 330px;
  height: 200px;
  padding: 10px;
}

.Img1 {
  width: 370px;
  margin-right: 20px;
}

.tachna {
  display: flexbox;
  line-height: 1.3;
  text-align: left;
}

.tachna p2 {
  text-align: center;
}

.tachna2 {
  display: flexbox;
}

.tachna2 p {
  padding-right: 15px;
  line-height: 1.3;
  text-align: left;
}

.tachna2 h2 {
  padding-right: 20px;
}

.tachna3 {
  display: flexbox;
  padding: 15px;
  padding-top: 0%;
}

.tachna3 img {
  width: 300px;
  height: 208px;
}

.tachna3 p {
  padding-right: 15px;
  line-height: 1.3;
  text-align: left;
}

.tachna4 {
  display: flexbox;
  padding: 15px;
  padding-top: 0%;
  flex-grow: 1;
}

.tachna4 p {
  padding-right: 15px;
  line-height: 1.3;
  text-align: left;
}


.Carousel {
  max-width: fit-content;
  position: relative;
  margin: auto;
}

.CarouselSlide {
  display: none;
}

.Previous, .Next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.Next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
  background-color: #858585cc
}

.CarouselNumber {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.CarouselNumber1 {
  color:#0d0d0d;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

 .CarouselImg {
width: 800px;
height: 470px
 }

.CarouselText {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

 .CarouselProgress {
  text-align: center;
 }

 .ProgressDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 }

 .Active, .ProgressDot:hover {
  background-color:#ddd;
 }

/* Estilos para la ventana emergente */
.ventana-emergente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none; /* Por defecto, la ventana emergente está oculta */
}

/* Estilos para el fondo opaco */
.fondo-opaco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.865); /* Opacidad del fondo */
  z-index: 9998; /* Por debajo de la ventana emergente */
  display: none; /* Por defecto, el fondo opaco está oculto */
}

.grid-container a {
  color: #000000;
}

.grid-container a:visited {
  color: rgb(56, 56, 56);
}

.grid-container a:hover {
  color: rgb(167, 167, 167);
}

.grid-container a:active {
  color: rgb(255, 0, 0);
}

.CarouselSlide a {
  color: #FFFFFF;
}

.CarouselSlide a:visited {
  color: rgb(156, 146, 146);
}

.CarouselSlide a:hover {
  color: rgb(167, 167, 167);
}

.CarouselSlide a:active {
  color: rgb(255, 0, 0);
}